{% extends 'base.html.twig' %}

{% block title %}Prospect{% endblock %}

{% block body %}
    <h1>Prospect</h1>

    {{ include('client/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="card mt-3">
        <div class="card-body">
            {{ include('client/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
