{% extends 'base.html.twig' %}

{% block title %}Edit Source{% endblock %}

{% block body %}
    <h1>Edit Source</h1>

    {{ include('source/_form.html.twig', {'button_label': 'Modifier'}) }}

    <div class="card mt-3">
        <div class="card-body">
            {{ include('source/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
